<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danceplov.sidrun" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StadiumActivity"
            android:label="@string/title_activity_stadion" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danceplov.sidrun.MainActivity" />
        </activity>
        <activity
            android:name=".StadiumDetailActivity"
            android:label="@string/title_activity_stadium_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="geo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danceplov.sidrun.MainActivity" />
        </activity>

        <service
            android:name=".service.StadiumService"
            android:exported="false" >
        </service>
    </application>

</manifest>
